{% for item in op_secrets["parsed"]["fields"] %}
{% if item.section is defined and item["section"]["label"] in include_groups %}
{% set key = item["label"] %}
{% set value = item["value"] %}
export {{ key }}="{{ value }}"
{% endif %}
{% endfor %}
