---
# Parameters:
# op_source: UUID of 1Password source item
# include_groups: List of group names to include secrets from
# dest: Destination path on the target host for the .env file

- name: Generates secret env file and transfer
  block:
    - name: "Run command and parse as json"
      ansible.utils.cli_parse:
        command: 'op item get "{{ op_source }}" --format json'
        parser:
          name: ansible.utils.json
      register: op_secrets
      run_once: true
      delegate_to: localhost

    - name: Create .env content for the host
      template:
        src: secret_env.j2
        dest: "/tmp/{{ inventory_hostname }}.env"
        mode: "0755"
      delegate_to: localhost # Generate locally before transfer

    - name: Transfer the .env file to the host
      copy:
        src: "/tmp/{{ inventory_hostname }}.env"
        dest: "{{ dest }}"
        mode: "0755"

    - name: Clean up temporary .env file
      file:
        path: "/tmp/{{ inventory_hostname }}.env"
        state: absent
      delegate_to: localhost
