---
# Example playbook demonstrating how to use the bwees.homelab collection
#
# This playbook shows basic usage of the docker_deploy role to deploy
# Docker Compose stacks to remote hosts.

- name: Deploy Docker Hosts
  hosts: all
  gather_facts: false

  tasks:
    - name: Deploy Docker-Compose files to Docker hosts
      include_role:
        name: bwees.homelab.docker_deploy
      vars:
        deploy_location: "/opt/deployments/{{ inventory_hostname }}"
        compose_source: "./compose_files/{{ inventory_hostname }}"
        configs_root: "./config_files"
        config_mode: "multi_host"
        secret_src: "./secrets/vault.yml"
        secret_groups:
          - "{{ inventory_hostname }}"
          - "shared"
